summary {
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: rgb(7, 185, 255);
    padding: 1.2rem;
    margin-bottom: 1.2rem;
    border-radius: 0.5rem;
    cursor: pointer;
   }